<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default_layout}">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="menu_background">
        <div id="Menu_word_container">
            <div id="Menu_word">MENU</div>
            <hr class="line">
        </div>
        <div id="Menu_container">
        </div>
    </div>
</div>
</body>
</html>